#chartContainer {
    position: relative;
    width: 350px;
    height: 350px;
}

text {
    font-family: sans-serif;
    font-size: 12px;
    pointer-events: none;
}

g.arc path:hover {
    fill: orange;
}

.psd3Tooltip {
    position: absolute;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.psd3Hidden {
    display: none;
}

.psd3Tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}